html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input{
  max-width:280px;
}
.entry {
  min-width: 250px;
  display: inline-block;
}
.details, .edit, .delete {
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline;
}
ul{
  padding-left:0;
  list-style-type: none;
}
#content{
  min-height:500px;
}