@model RazorPages.Pages.Movies.EditModel
<div>
@for (var i = 0; i < Model.Movie.Tags.Count; i++) {
  <div class="mb-3 nested-fields">
    <input hidden="true" asp-for="Movie.Tags[i].ID" class="form-control" />
    <input asp-for="Movie.Tags[i].Name" class="form-control" />
    <span asp-validation-for="Movie.Tags[i].Name" class="text-danger"></span>
  </div>
}

<div class="mb-3 nested-fields">
  <input type="text" 
         name="Movie.Tags[@{@Model.Movie.Tags.Count}].Name"
         id="Movie_Tags_@{@Model.Movie.Tags.Count}__Name" 
         class="form-control valid"
         data-val="true" 
         data-val-length="The field Name must be a string with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" data-val-required="The Name field is required." 
         data-val-length-max="50" 
         data-val-length-min="3" 
         data-val-required="The Name field is required." 
         maxlength="50" 
         value="" />
  <span class="text-danger field-validation-valid" data-valmsg-for="Movie.Tags[@{@Model.Movie.Tags.Count}].Name" data-valmsg-replace="true"></span>
</div>

@{
  
  /*
  
  <input class="form-control" 
          type="text" 
          name="portfolio[technologies_attributes][1646701421516][name]" 
          id="portfolio_technologies_attributes_1646701421516_name">

          name="Movie.Tags[1].Name" 
          id="Movie_Tags_1__Name" 


  <input class="form-control" 
          type="text" 
          data-val="true" 
          data-val-length="The field Name must be a string with a minimum length of 3 and a maximum length of 50."
          data-val-length-max="50" 
          data-val-length-min="3" 
          data-val-required="The Name field is required." 
          maxlength="50" 
          value="xxxg"
          name="Movie.Tags[1].Name" 
          id="Movie_Tags_1__Name" 
        />
 
  <input class="form-control" 
          type="text" 
          value="MS Net core 6.0" 
          name="portfolio[technologies_attributes][1][name]" 
          id="portfolio_technologies_attributes_1_name">
  

  */
}
</div>
